* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(187, 187, 187);
}

form {
  display: flex; flex-direction: column; justify-content: center; align-items: center;
  border: 1px solid gray;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
}

input {
  margin: 10px;
  padding: 5px;
}

header {
  display: flex; flex-direction: column; justify-content: center; align-items: center;
  border: 1px solid gray;
  padding: 15px;
  margin-top: 30px;
}

.escondido {
  display: none;
}

.divResposta {
  margin: 20px;
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
}